/* ========================================
   $FONT-FACE
   ======================================== */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
        url("../fonts/proximanova-regular-webfont.woff2") format("woff2"),
        url("../fonts/proximanova-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 300;
  src: local("Cormorant Infant Light Italic"), local("CormorantInfant-LightItalic"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-300italic.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-300italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 600;
  src: local("Cormorant Infant SemiBold Italic"), local("CormorantInfant-SemiBoldItalic"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-600italic.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-600italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  src: local("Cormorant Infant Bold"), local("CormorantInfant-Bold"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pt-sans-v9-cyrillic_latin-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-cyrillic_latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/pt-sans-v9-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-cyrillic_latin-700.woff") format("woff");
}



/* ========================================
   $COMMON
   ======================================== */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.005em;
  color: #737373;
  background: #f2f2f2 url("../img/bg/bg.jpg") 0 0 repeat;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1170px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1164px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}



/* ========== visually-hidden ========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* ========================================
   $BTN
   ======================================== */
.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 16px 30px;
  border: 1px solid #48974c;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #48974c;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #54ad58;
  border-color: #54ad58;
}

.btn:active {
  background-color: #3d8040;
  border-color: #3d8040;
}

.btn--transparent {
  color: #48974c;
  background-color: transparent;
}

.btn--transparent:hover,
.btn--transparent:focus {
  color: #ffffff;
}



/* ========================================
   $PAGE-HEADER
   ======================================== */
.page-header {
  margin-bottom: 1px;
  padding-top: 36px;
  background-color: #ffffff;
}

.page-header__logo {
  margin-bottom: 41px;
}



/* ========================================
   $LOGO
   ======================================== */
.logo {
  display: block;
  font-family: "Cormorant Infant", "Times New Roman", "Times", serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #262626;
}

.logo span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
  color: #595959;
}

.logo--page-footer {
  line-height: 1.2;
  text-align: left;
  color: #fff;
}

.logo--page-footer span {
  display: block;
  margin-top: 11px;
  color: #fff;
}



.page-header__nav {
  overflow: hidden;
}

.page-header__nav-inner {
  margin: 0 -40px;
  border-top: 1px solid #e5e5e5;
}



/* ========================================
   $SITE-NAV
   ======================================== */
.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  text-transform: uppercase;
  color: #262626;
  background-color: #fff;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.site-nav__link:hover,
.site-nav__link:focus {
  text-decoration: underline;
}

.site-nav--horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-nav--horizontal .site-nav__link {
  padding: 18px 40px;
}

.site-nav--horizontal .site-nav__link:hover,
.site-nav--horizontal .site-nav__link:focus {
  text-decoration: none;
  color: #48974c;
  background-color: #f8f8f8;
}

.site-nav--horizontal .site-nav__link--active,
.site-nav--horizontal .site-nav__link--active:hover {
  color: #48974c;
  background-color: transparent;
}

.site-nav--page-footer {
  color: #fff;
  background-color: transparent;
}

.site-nav--page-footer .site-nav__item {
  margin-bottom: 10px;
}



/* ========================================
   $PROMO
   ======================================== */
.promo {
  margin-bottom: 30px;
}



/* ========================================
   $CAROUSEL
   ======================================== */
.carousel {
  position: relative;
  width: 100%;
  padding-bottom: 42.9%;
}

.carousel__items {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel__item{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.carousel__item-1 {
  background: url("../img/bg/promo-img1.jpg") center top / cover no-repeat;
}

.carousel__item-2 {
  background: url("../img/bg/promo-img2.jpg") center top / cover no-repeat;
}

.carousel__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 23%;
  padding-top: 80px;
  overflow: auto;
}

.carousel-content__col {
  width: 48.7%;
  padding: 35px 35px 42px 40px;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.95);
}

.carousel-content__title {
  margin: 0;
  margin-bottom: 19px;
  padding-right: 40px;
  font-family: "Cormorant Infant", "Times New Roman", "Times", serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}

.carousel-content__text {
  margin: 0;
  font-size: 18px;
}

.carousel__item--active {
  z-index: 1;
  opacity: 1;
}

.carousel__indicators {
  position: absolute;
  left: 11%;
  right: 11%;
  bottom: 17.5%;
  z-index: 10;
  height: 13px;
  line-height: 13px;
}

.carousel__indicator {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin-right: 4px;
  padding: 0;
  border: none;
  text-align: left;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.5s;
  cursor: pointer;
}

.carousel__indicator:hover,
.carousel__indicator:focus,
.carousel__indicator--active {
  opacity: 1;
}

.carousel__indicator--active {
  cursor: default;
}



/* ========================================
   $INDEX-LAYOUT
   ======================================== */
.index-container {
  margin-bottom: 69px;
}

.index-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index-col {
  flex: 0 0 48.7%;
  max-width: 48.7%;
}



/* ========================================
   $BLOG
   ======================================== */
.blog__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.blog__item {
  margin-bottom: 30px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
}

.blog__item:last-child {
  margin-bottom: 0;
}

.item-blog__photo {
  position: relative;
  margin-bottom: 19px;
  padding-bottom: 64%;
}

.item-blog__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.item-blog__datetime {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding-left: 24px;
  font-size: 14px;
  text-transform: uppercase;
  color: #a6a6a6;
}

.item-blog__datetime::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 16px;
  background: url("../img/bg/icon-calend.svg") 0 0 no-repeat;
}

.item-blog__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Cormorant Infant", "Times New Roman", "Times", serif;
  font-size: 30px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 600;
  color: #262626;
}

.item-blog__text {
  margin: 0;
  margin-bottom: 18px;
  line-height: 1.63;
}

.item-blog__actions {
  display: flex;
  justify-content: space-between;
}

.item-blog__more-link {
  width: 156px;
}



/* ========================================
   $SOCIALS
   ======================================== */
.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 19.5px;
}

.socials__link {
  display: block;
  text-decoration: none;
}

.socials__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link:hover path,
.socials__link:focus path {
  fill: #48974c;
}

.socials__link:active path {
  fill: #3d8040;
}



.blog__link {
  width: 156px;
  margin-left: 25px;
}

.blog__link-text {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.blog__link-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
}

.blog__link-icon svg {
  display: inline-block;
}



/* ========================================
   $NEWS
   ======================================== */
.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.04);
}

.news__item {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 25px 25px 14px 24px;
}

.news__item:nth-child(odd)::before {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 1px;
  content: "";
  background-color: #e6e6e6;
}

.news__item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 1px;
  background-color: #e6e6e6;
}

.news__item:first-child::after {
  display: none;
}

.news__item:first-child + .news__item::after {
  display: none;
}

.item-news__photo {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 66.3%;
}

.item-news__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.item-news__title {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Cormorant Infant", "Times New Roman", "Times", serif;
  font-size: 24px;
  line-height: 1.08;
  font-style: italic;
  font-weight: 600;
  color: #262626;
}

.item-news__text {
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.63;
}

.item-news__more-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 26px;
  font-size: 12px;
  font-weight: 700;
  color: #48974c;
  text-transform: uppercase;
  text-decoration: none;
}

.item-news__more-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url("../img/bg/circle-arrow-right.svg") 0 0 no-repeat;
}

.item-news__more-link:hover,
.item-news__more-link:focus {
  text-decoration: underline;
}



/* ========================================
   $PAGINATION
   ======================================== */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item:not(:last-child) {
  margin-right: 10px;
}

.pagination__item {
  line-height: 56px;
  text-align: center;
}

.pagination__link {
  display: block;
  min-width: 56px;
  height: 56px;
  padding: 0 10px;
  text-decoration: none;
  color: #262626;
  background-color: #ffffff;
}

.pagination__link--prev {
  margin-right: 2px;
}

.pagination__link--prev,
.pagination__link--next {
  min-width: 14px;
  padding: 0;
  background-color: transparent;
}

.pagination__dots {
  position: relative;
  top: -4px;
  display: inline-block;
  font-size: 17px;
  color: #262626;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link--active {
  color: #ffffff;
  background-color: #449653;
}

.pagination__link:active {
  background-color: #3d8040;
}

.pagination__link--prev:hover,
.pagination__link--prev:focus,
.pagination__link--next:hover,
.pagination__link--next:focus {
  background-color: transparent;
}

.pagination__link--prev:hover path,
.pagination__link--prev:focus path,
.pagination__link--next:hover path,
.pagination__link--next:focus path {
  stroke: #449653;
}

.pagination__link:active path {
  stroke: #3d8040;
}

.pagination__link--disabled,
.pagination__link--disabled:hover {
  cursor: default;
}

.pagination__link--disabled path,
.pagination__link--disabled:hover path {
  stroke: #b3b3b3;
}



/* ========================================
   $CONSTRUCTION-PROGRESS
   ======================================== */
.construction-progress {
  background: url("../img/bg/construction-progress-bg.jpg") center top / cover no-repeat;
}

.construction-progress__row {
  display: flex;
  flex-wrap: wrap;
  min-height: 560px;
  padding: 70px 0;
}

.construction-progress__col-left {
  flex: 0 0 32%;
  max-width: 32%;
  align-self: flex-end;
}

.alert {
  display: flex;
}

.alert__text {
  margin: 0;
  padding: 16px 20px;
  padding-right: 47px;
  font-size: 18px;
  line-height: 1.3;
  color: #262626;
  background-color: #fff;
}

.alert__link {
  padding-left: 33px;
  padding-right: 33px;
}



/* ========================================
   $WIDGETS
   ======================================== */
.widgets {
  padding: 70px 0;
}

.widgets__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widgets__col-left {
  flex: 0 0 31.6%;
  max-width: 31.6%;
}

.widgets__facebook {
  min-height: 261px;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
}

.widgets__col-right {
  flex: 0 0 65.7%;
  max-width: 65.7%;
}

.widgets__banner {
  min-height: 261px;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);
}



/* ========================================
   $PAGE-FOOTER
   ======================================== */
.page-footer {
  margin-top: auto;
  padding-top: 42px;
  color: #ffffff;
  background-color: #404040;
}

.page-footer__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.page-footer__logo {
  flex: 0 0 40%;
  max-width: 40%;
  margin-right: auto;
}

.page-footer__links {
  flex: 0 0 32%;
  max-width: 32%;
  padding-top: 11px;
  padding-left: 58px;
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;

  flex: 0 0 23%;
  max-width: 23%;
  margin-left: auto;
  padding-top: 12px;
}

.page-footer__bottom {
  border-top: 1px solid #808080;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 1.4;
  color: #999999;
}