/* ========================================
   $FONT-FACE
   ======================================== */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
        url("../fonts/proximanova-regular-webfont.woff2") format("woff2"),
        url("../fonts/proximanova-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 300;
  src: local("Cormorant Infant Light Italic"), local("CormorantInfant-LightItalic"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-300italic.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-300italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 600;
  src: local("Cormorant Infant SemiBold Italic"), local("CormorantInfant-SemiBoldItalic"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-600italic.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-600italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  src: local("Cormorant Infant Bold"), local("CormorantInfant-Bold"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/cormorant-infant-v5-cyrillic_latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pt-sans-v9-cyrillic_latin-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-cyrillic_latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/pt-sans-v9-cyrillic_latin-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-cyrillic_latin-700.woff") format("woff");
}
/* ==================== FONT-FACE end ==================== */


/* ========================================
   $COMMON
   ======================================== */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.005em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #737373;
  background: #f2f2f2 url("../img/bg/bg.jpg") 0 0 repeat;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1170px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ==================== COMMON end ==================== */


/* ========== visually-hidden ========== */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}






/* ========================================
   $TEST!
   ======================================== */
.test {
  background-color: rgba(0, 128, 0, 0.2) !important;
  box-shadow: 0 0 0 1px green !important;
}

.test-2 {
  background-color: rgba(234, 255, 45, 0.2) !important;
  box-shadow: inset 0 0 0 1px rgb(234, 255, 45) !important;
}

.test-3 {
  background-color: rgba(255, 45, 82, 0.2) !important;
  box-shadow: 0 0 0 1px rgb(255, 45, 82) !important;
}
/* ==================== TEST! end ==================== */


/* ========================================
   $
   ======================================== */

/* ====================  end ==================== */